.kasa-banner{
    border-radius: 25px;
    font-size: 48px;
    justify-content: center;
    /* margin: 0 0 40px; */
    align-items: center;
    /* border-radius: 10px; */
    color: #fff;
    display: flex;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
}

.kasa-banner img{
    height: 225px;
    filter: brightness(.7);
    object-fit: cover;
    width: 100%;
}

.kasa-banner h1{
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  
    position: absolute;
}