.carousel {
  display: flex;
    overflow: hidden;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
   
}
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
   
  }

  .inner img{
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #fff;
  }
  
  
  .prev{
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    
  }
  .next{
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
   
  }



  .indicators > button {
     margin-top: 166px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),rgba(0,0,0,.5));
  }
  
  .indicators > button > svg{
    width: 80px;
    height: auto;
  }

  .indicators > button.active {
    background-color: green;
    color: #fff;
  }
  