
.dropdown-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 25px;
  flex-direction: row;
  
  }
  
  .dropdown-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .dropdown{
    border-radius: 5px;
    color: #ff6060;
    width: 100%;
    padding: 12px 0px 30px 0px;
  }

  .dropdown summary{
    align-items: center;
    background: #ff6060;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 52px;
    justify-content: space-between;
    list-style: none;
    padding: 0 7px 0 10px;
    width: inherit;
    font-family: Montserrat,sans-serif;
    font-style: normal;
  }

  .dropdown div{
    font-size: 18px;
    padding: 20px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 300;
    background: #fbf7f7;
    border-radius: 0 0 10px 10px;
  }