.listings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 29em;
    margin-right: 27px;
}

.card{
    height: 340px;
    width: 340px;
}

.listings-container{
    margin-top: 27em;
background: #F7F7F7;
border-radius: 25px;
}